<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <DesktopBuildPackageLocation>API_QLYTHuVien.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>THUVIEN_API</DeployIisAppPath>
    <_TargetId>IISWebDeployPackage</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TESTEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-R0NKBQ5\MSSQLSERVER01;Initial Catalog=TEST;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TESTEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Sach.csdl|res://*/Models.Sach.ssdl|res://*/Models.Sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R0NKBQ5\MSSQLSERVER01;initial catalog=TEST;persist security info=True;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TESTEntities-Web.config Connection String" />
  </ItemGroup>
</Project>